<div class="backer2">
<h1> New Store!</h1>

<form action="/employers/{{Eid}}/stores" method="POST">
 
  <div>
    <label for="storeName">Franchise Name</label>
    <input type="text" name="storeName" placeholder="Franchise Name" />
  </div>
  
                <div>
                    <label for="location">Location</label>
                    <input type="text" name="location" placeholder="Location" />
                </div>

   <div>
    <label for="hoursOfOpp">Hours Of Operation</label>
    <input type="text" name="hoursOfOpp" placeholder="Hours Of Operation" />
  </div>
   
                <div>
                    <label for="inventory">Inventory</label>
                    <input type="text" name="inventory" placeholder="Inventory " />
                </div>

  <button type="submit">Profile Create</button>

</form>


</div>
