<div class="backer2">

  <h1> Edit Manager</h1>

  <form action="/employers/{{employer._id}}?_method=PUT" method="POST">

    <div>

      <label for="Name">Managers Name</label>

      <input type="text" name="Name" value={{employer.Name}} />

    </div>

    <div>

      <label for="img">Managers Picture</label>

      <input type="text" name="img" value={{employer.img}} />

    </div>

    <div>

      <label for="">Background img</label>

      <input type="" name="" value=/>

    </div>

    <button type="submit">Update</button>

  </form>

</div>