body {
  background-color: #00B7FF;
  display: flex;
  justify-content: center;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
}

.img{
  /* background-image: url("{{employers.img}}"); */
  height: 250px;
  width: 400px;
}
.font{
  font-size: 5000px;
}
#employerStoreBox{
  width: 60vh;
  height: 150px;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.backer1{
  border: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:whitesmoke;
  height: 700px;
  width: 850px;
}
.backer2{
  border: solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:whitesmoke;
  height: 400px;
  width: 850px;
}

.editline{
  display: inline-flex;
  width: 200px;
  
}
.backer3{
  border: solid;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:whitesmoke;
  height: auto;
  width: 7500px;
}

.backer4{
  grid-area:main;
}